* {
    margin: 0;
    padding: 0;
    font-family: arial;
    
}

.header {
    height: 100vh;

    display: flex;
}
.background {
    background-image: url('slikabrt.png');
    opacity:100%;

}
.prob{
    background-color: black;
}
.navigation {
    display:flex;
    justify-content: space-around;
    align-items: center;
    opacity: 80%;
    top: 0;
    width: 100%;
    
}

.navigation_logo {
    height: 45px;       
    
}

.navigation_container {
    display:flex;
    align-items: center;
    
}

.navigation_container a {
    display: block;
    margin: 10px;
    text-decoration: none;
    color: white;
    padding: 13px;
    font-weight: bold;
}
#sire {
    margin-left: 250px;
}
#slikasire {
    margin-right: 20px;
}
.nav_button {
    display: block;
    background-color:#10c98f;
    padding: 16px 40px;
    
}
#fss {
    font-weight: 200;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
}
.header_primary-tittle {
    color: white;
    font-size: 65px;
    
}

.horizontal-line {
    width: 110px;
    height: 3px;
    background-color: white ;
    margin-right: 210px;
    margin-top: 20px;
}

.header-container {
    display: flex;
    align-items: center;
}

.header_tittle {
    flex: 3;

    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    padding-left: 215px;
    padding-top: 90px;
}
.finan {
    font-size: 25px;
    color: white;
    padding-top: 30px;
    
}
.pads {
    padding-top: 10px;
}

.strel {
    height: 15px;

}
.dugme {
    text-decoration: none;
    color: white;
    padding: 22px 35px;
    border: 2px solid white;
    background-color: transparent;
    margin-top: 40px;
    font-weight: bold;
}
.header_form {
    flex: 2;
        display: flex;
    justify-content: center;
    align-items: center;
    
}


.form_card {
    background-color: white;
    width: 80%;
    height: 70%;
    margin-top: 20px;
    margin-right: 100px;
    margin-bottom: 70px;
    
}
.ae {
    margin-top: 40px;
}
.inl {
    display: inline-block;
    padding-right: 180px;
    padding-top: 15px;
    padding-bottom: 15px;  
    font-size: 15px;
    padding-left: 17px;
    
}
.tezz {
    border: 1px solid black;
    width: 330px;
    
}
.sred {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dugam {
padding-left: 40px;
}
.malo {
    padding-right: 188px;
}   
.horizontal-line--green {
    width: 120px;
    height: 3px;
    background-color:#10c98f;
    margin: 16px 0;
    
}
.dolar {
    color: #10c98f;
    font-size: 18px;
    font-weight: bold;
}
.grej {
    color: darkslategray;
    font-size: 12px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.aply {
    width: 330px;
    
    padding-top: 15px;
    padding-bottom: 15px;
    background-color:#10c98f;
    color: white;
    font-weight: bold;
    text-align: center;
}
.alijn {
    text-align: center;
    color:darkslategray;
    padding-top: 20px;
    padding-right: 40px;
}
form label, input {
    display:block;
    
} 
input {
    border: 2px solid red;
    padding: 5px;
    border-radius: 5px;
}

input::placeholder {
    font-style: italic;
    font-size: 12px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

* {
    margin: 0;
    padding: 0;
    font-family: arial;
}

.header1 {
    width: 100%;
    height: 100vh;

    
}
.text1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.naslov1 {
    font-weight: bold;
    font-size: 39px;
    margin-top: 100px;
    
}
.linija1 {
    height: 3px;
    width: 100px;
    background-color: #3EA57A;
    margin-top: 25px;
    margin-bottom: 25px;
}

.nesto1 {
    margin-bottom: 50px;  
    font-size: 17px;  
    color:gray;
}

.glavni1 {
    display: flex;
    align-items: center;
    justify-content: center;

}

.tabela1 {
    height: 300px;
    width: 350px;
    margin: 2px;
    
}

.logo1 {
    height: 60px;
    padding: 10px;
}

.loan1 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: #9F9F9F;
    font-size: 10px;
    font-weight: bold;

}
.option1 {
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 20px;
    padding-left: 10px;
    font-weight: bold;
}
.tool1   {
    padding-left: 10px;
    font-size: 15px;
    color: black;
}
.header2 {
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;

    
}
.slika2 {
    display: flex;
}
.slika5 {
    position: relative;
    height: 550px;
    margin: 120px;
    border-radius: 5px;
    
}
.slika6 {
    position:absolute;
    margin-top: 500px;
    margin-left: 450px;
    height: 220px;
    
    
}

.slikapart {
    height: 100vh;
    width: 50%;
    
}
.otherpart {
    height: 100vh;
    width: 50%;
    
}
.zajedno1 {
    display: flex;
}
.slikabs {
    display: flex;
}
.par1 {
    font-size: 40px;
    font-weight: bold;
    margin-left: 120px; 
    margin-top: 120px;
}
.par2 {
    color: gray;
    margin-left: 120px;
    font-size: 18px;
    margin-top: 40px
}
.linija1 {
    width: 550px;
    margin-left: 120px;
    height: 3px;
    background-color: gray;
    margin-top: 30px;
}
.tacka1 {
    color: #10c98f;
    font-size: 20px;
    margin-left: 140px;
    padding-bottom: 15px;
}
.button2 {
    padding: 20px 40px;
    border: 2px solid #10c98f;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    color:#10c98f;
    margin-left: 120px;
    margin-top: 30px;
}
.tabele1 {
    display:flex;
    justify-content: space-evenly;
    margin-right: 150px;
    margin-left: 150px;
}
.tajb1 {
    height: 400px;
    width: 300px;
    background-color: red;
    margin: 2px
}
.whyus {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}
.naj1 {
    background-color: #f4fcfa;
    height: 100vh;
    width: 100%;
}
.us {
    height: 330px;
    width: 300px;
    margin: 10px;
}

.uss {
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}
.tap {
height: 50px;
margin-left: 6px;
}
.whyy {
    margin-top: 100px;
    font-size: 40px;
    font-weight: bold;
    color:#0f4332;
    letter-spacing: -.04em;
}

.naj1 {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
#mal1 {
    width: 100px;
    margin: 0;
    height: 3.5px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.brochure {
    text-align: center;
    font-weight: bold;
    color:#3EA57A;
    margin-bottom: 70px;
}

.app {
    font-size: 25px;
    font-weight: bold;
    color:#0f4332;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
.ist {
    text-align: center;
    color: #4c5753;
    font-size: 18px;
}
#issd {
    margin-right: 8px;
    flex-direction: row;
}
.glava1 {
    display: flex;
    background: #e4f1ed;
}
.dava1 {
    width:45%;
    height: 100vh;
}
.dava2 {
    width:55%;
    height: 100vh;
    
    
}
.get1 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-top: 160px;
    letter-spacing: -.04em;
    color: #0f4332;
}
.ste1{
    margin-left: 130px;
    margin-top: 30px;
    color: #6d6d6d;
}

#sman1 {
    width: 490px;
    margin-left: 130px;
    height: 2px;
    margin-bottom: 40px;
}

.all1 {
    display: flex;
    font-size: 18px;
    text-align: center;
}
.full1 {
    height: 13px;
    margin-right: 23px;
    margin-left: 130px;
    margin-bottom: 30px;
}

.more1 {
    display:inline-block;
    font-weight: bold;
    color:#4c5753;  
    border: 2px solid  #0f4332;
    padding: 20px;
    padding-right: 40px;
    padding-left: 40px;
    margin-left: 130px;
    margin-top: 30px;
}
.bigboy {
    height: 550px;
    border-radius: 5px;
    margin-top: 100px;
    margin-left: 70px;

}